# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/

# PyCharm
.idea/

# Environment variables
.env# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/

# PyCharm
.idea/

# Environment variables
.env